.header {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
  height: 75px;
  background-color: white;
  padding: 0 40px;
  @include box-shadow(0 2px 4px 0 rgba(204, 204, 204, 0.4));
  z-index: 6;
  position: relative;
  width: auto;
  .title {
    font-weight: normal;
    a {
      color: #444444;
      &:hover {
        color: black;
      }
    }
  }
  .version {
    color: $inactive-gray;
  }
}
